.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#siteHeader {
  font-size: 140px;
  background: linear-gradient(to right, cyan, rgb(232, 232, 122));
  background-clip: text;
  color: transparent;
  position: relative;
  top: -10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#navBar {
  width: 100%;
  height: fit-content;
  background: rgba(18, 6, 6, 0.495);
  position: relative;
  top: 10%;
}
#navBar button {
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: cursive;
  border: none;
  height: 40px;
  width: 200px;
  transition: background-color 0.7s, color 0.7s;
  margin-right: 80px;
}
#navBar button:hover {
  background-color: white;
  color: black;
}

#moviesBody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #17081a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
